/* import inter and oxygen mono fonts */

@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Oxygen%20Mono');

.theme-dark {
    --default-font: 'Inter';
    --monospace-font: 'Oxygen Mono';
    --background-primary: black;
    --background-primary-alt: #0f1218;
    --interactive-normal: #20242b;
    --interactive-hover: #353b47;
    --interactive-accent: #004ede;
    --interactive-accent-hover: #5082df;
    --h1-color: white;
    --h2-color: #deb199;
    --h3-color: #ef8248;
    --h4-color: #f16232;
    --h5-color: #f73a3a;
    --h6-color: #da1862;
}

/* Change inline code color to green */
.markdown-rendered code {
    color: #24ed35;
}

/* Add custom callouts */

/* aperture callout */

.callout[data-callout="aperture"] {
    --callout-color: 51, 117, 249;
    --callout-icon: lucide-aperture;
}

/* fingerprint callout */

.callout[data-callout="print"] {
    --callout-color: 254, 57, 57;
    --callout-icon: lucide-fingerprint;
}

/* change question color */

.callout[data-callout="question"] {
    --callout-color: 69, 221, 69;
}

/* Customize page title */
.page-header {
    font-weight: normal;
    font-size: 28px;
    position: relative;
    z-index: 1;
    line-height: 32px;
}

/* Customize header image */
.header-image {
    position: relative;
    top: -75px;
    left: -2%;
    max-width: 104% !important;
    margin-bottom: -85px;
    filter: brightness(64%);
    border-radius: 8px;
}

/* Link customization */
a.external-link {
    color: #7C8DFF;
    background-image: none;
    padding-right: 0px;
    text-decoration: none !important;
    transition: 0.3s;
}

a.external-link:hover {
    color: rgb(0, 85, 255);
    transition: 0.3s;
}

a.internal-link {
    color: #FF8D8D;
    text-decoration: none !important;
    transition: 0.3s;
}

a.internal-link:hover {
    color: rgb(232, 42, 42);
    transition: 0.3s;
}

/* Heading customization */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: var(--default-font);
    font-weight: normal !important;
    line-height: 1.3em;
    position: relative;
    left: 0px;
}

h1 {
    color: var(--h1-color);
    font-size: 22px !important;
}

h2 {
    color: var(--h2-color);
    font-size: 21px !important;
}

h3 {
    color: var(--h3-color);
    font-size: 20px !important;
}

h4 {
    color: var(--h4-color);
    font-size: 19px !important;
}

h5 {
    color: var(--h5-color);
    font-size: 18px !important;
}

h6 {
    color: var(--h6-color) !important;
    font-size: 17px !important;
}

/* Remove tooltips */

.tooltip {
    display: none;
}

/* remove site footer, header, and name */
.site-footer,
.site-body-left-column-site-name {
    display: none !important;
}

/* justify text */

p,
ul,
ol,
a {
    text-align: justify;
    line-height: 1.4em;
    font-size: 14px;
}

li {
    text-align: justify;
    line-height: 1.6em;
    font-size: 14px;
}

/* Border color */

.markdown-rendered hr {
    border-color: #0c1b33;
}

/* change logo width */

.site-body-left-column-site-logo {
    max-width: 50px;
    opacity: 0.4;
    position: relative;
    margin-bottom: 10px;
    top: -10px;
    transition: 0.3s;
    margin-right: 15px;
}

.site-header-logo {
    opacity: 0.4;
    transition: 0.3s;
}

/* Adjust checkbox */

.markdown-preview-view .task-list-item-checkbox {
    width: 14px;
    height: 14px;
}

/* darken search bar */

.search-bar {
    background: black !important;
}

/* Remove heading underline */

.published-container .markdown-rendered h1, .published-container .markdown-rendered h2 {
    border-bottom: 0px;
}


/* Remove section headers */

.site-body-right-column {
    opacity: 0;
    transition: 0.3s;
    ;
}

.site-body-right-column:hover {
    opacity: 1;
}

.site-body-right-column .published-section-header {
    display: none;
}

/* Tree item inner font */

.tree-item-inner {
    font-family: var(--monospace-font);
}

/* Add hover effect to files and toc */

.site-body-left-column .tree-item-inner {
    color: grey;
    transition: 0.2s;
    font-size: 14px;
    padding: 2px;
    border-radius: 6px;
}

/* style backlinks */

.backlinks {
    border-top: 0px;
    padding: 20px 20px 20px 20px;
    background: #060d24;
    border-radius: 10px;
}

.site-body-left-column .tree-item-inner:hover {
    /* background: #190a0a; */
    color: red;
    transition: 0.2s;
}

.tree-item-self.mod-collapsible .tree-item-inner {
    background: transparent !important;
}

.site-body-right-column .tree-item-inner:hover {
    color: red;
    transition: 0.2s;
}

.mod-active .tree-item-inner {
    color: white;
    transition: 0.2s;
}

.nav-view-outer {
    z-index: 1;
    transition: 0.3s;
}

.nav-view {
    transition: 0.3s;
}

.nav-view-outer .tree-item-self.mod-active {
    border-left: 1px solid red;
}

.outline-view-outer {
    position: relative;
    top: -10px;
}

/* Smooth dim center col */

.site-body-center-column {
    transition: 0.3s;
}

/* Remove border on left column */

.site-body-left-column {
    border-right: 0px;
    margin-right: -20px;
}

/* Remote heading link */

.clickable-icon[aria-label="Copy link"] {
    display: none !important;
}


/* Remove border on graph container */

.graph-view-container {
    border: 0px;
}

/* Remove site header */

.site-header {
    border: 0px;
}

.site-header-text {
    display: none;
}

/* Adjust tags */

.tag {
    border-radius: 4px !important;
    border: 0px !important;
    background-color: rgb(34, 59, 84) !important;
    transition: 0.3s;
    color: white !important;
}

.tag:hover {
    background-color: rgb(26, 105, 160) !important;
    transition: 0.3s;
}

/* Adjust font */

p,
div,
h1,
h2,
h3,
h4,
h5,
h6,
a,
.tag {
    font-family: var(--default-font);
}

/* Markdown embed tests */

.markdown-embed .markdown-embed-title {
    display: none;
}

.markdown-embed .publish-article-heading {
    display: none;
}

.markdown-embed-link {
    top: 4px;
    right: 4px;
    color: right;
}

.markdown-embed,
.file-embed {
    border-left: none;
    border-top: 0px;
    border-bottom: 0px;
    padding: 0px 0;
    margin: 0px;
    max-height: 1000px;
}


.markdown-embed>.markdown-embed-content>.markdown-preview-view.markdown-rendered {
    background-color: rgba(20, 30, 70, 0.4);
    border: 1px solid rgb(38, 46, 82);
    border-radius: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.markdown-embed-link {
    top: 2px;
    right: 3px;
    color: white;
}

.file-embed-title {
    display: none;
}

.file-embed-link {
    display: none;
}

.markdown-embed-link>.link {
    width: 15px;
}

img {
    margin: 0 auto;
    display: block;
}

/* .markdown-preview-sizer.markdown-preview-section {
    width: 55%;
} */

/*


.markdown-embed-content .publish-article-heading {
    display: none !important;
}


.site-body,
.markdown-preview-view,
.site-body-left-column {
    background-color: var(--background-primary);
}


.footnote-link {
    font-size: 10px !important;
    color: #FF8D8D !important;
    line-height: 1em !important;
}


.markdown-rendered img {
    border-radius: 10px 10px 10px 10px;
}


.markdown-rendered .tag:not(.token) {
    padding: 3px 8px;
}


.render-container {
    left: 4%;
    padding-right: 35%;
}



.publish-renderer {
    background: black;
}

.publish-renderer .extra-title-text {
    opacity: 0;
    position: relative;
}

.publish-renderer.mod-squished .extra-title-text {
    opacity: 1;
}




*/

/* Code stuff */

code[class*=language-],
pre[class*=language-] {
    /* background: 0 0; */
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 0.8em;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.4;
    tab-size: 4;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*

pre[class*=language-] {
    padding: 1em;
    margin: .5em 0;
    overflow: auto
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: #2d2d2d
}

:not(pre)>code[class*=language-] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal
}

.token.block-comment,
.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
    color: #999
}

.token.punctuation {
    color: #ccc
}

.token.attr-name,
.token.deleted,
.token.namespace,
.token.tag {
    color: #e2777a !important
}

.token.function-name {
    color: #6196cc !important
}

.token.boolean,
.token.function,
.token.number {
    color: #f08d49 !important
}

.token.class-name,
.token.constant,
.token.property,
.token.symbol {
    color: #f8c555 !important
}

.token.atrule,
.token.builtin,
.token.important,
.token.keyword,
.token.selector {
    color: #cc99cd !important
}

.token.attr-value,
.token.char,
.token.regex,
.token.string,
.token.variable {
    color: #7ec699 !important
}

.token.entity,
.token.operator,
.token.url {
    color: #67cdcc !important
}

.token.bold,
.token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.inserted {
    color: green !important
}

pre[class*="language-"] {
    position: relative;
    margin: 5px 0;
    padding: 0.3rem 0.3em 0.3rem 0.3rem;
}

*/

pre[class*="language-"] button {
    position: absolute;
    top: 5px;
    right: 5px;
    opacity: 1;
}

.markdown-rendered button.copy-code-button {
    background-color: transparent;
    padding: 5px 5px 7px 5px;
    transition: 0.2s;
}

.markdown-rendered pre:not(:hover)>button.copy-code-button {
    display: block;
}

.markdown-rendered button.copy-code-button:hover {
    transition: 0.2s;
}